<div class="mb-3 form-inline">
    <div class="form-group">
        <label for="initialDate" class="mr-3">Initial Date</label>
        <input [(ngModel)]="dateFilter.initialDate" type="date" class="form-control mr-3" id="initialDate"
            name="initialDate">
        <label for="finalDate" class="mr-3">Final Date</label>
        <input [(ngModel)]="dateFilter.finalDate" type="date" class="form-control mr-3" id="finalDate" name="finalDate">
        <button class="btn btn-info mr-3" (click)="search()">Search</button>
        <button class="btn btn-danger" (click)="actionForm(1)">Add Record</button>
    </div>
</div>
<kendo-grid [data]="gridView" [pageSize]="pageSize" [skip]="skip" [pageable]="true" [height]="500"
    (pageChange)="pageChange($event)">
    <kendo-grid-column field="activityNumber" title="Activity" width="250">
    </kendo-grid-column>
    <kendo-grid-column field="usedTime" title="Used Time" width="250">
    </kendo-grid-column>
    <kendo-grid-column field="comments" title="Comments" width="250">
    </kendo-grid-column>
    <kendo-grid-column field="dateRecord" title="Date" width="250">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            {{ dataItem.dateRecord | date:'yyyy-MM-dd' }}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-command-column title="" width="180">
        <ng-template kendoGridCellTemplate let-dataItem>
            <button class="btn btn-warning" (click)="callUpdateRecord(dataItem)">Edit</button>
        </ng-template>
    </kendo-grid-command-column>
</kendo-grid>